.dropdown-select {
    width: 140px;
    height: 25px;
    border: 1px white solid;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background: none;
    color: white
} 

.dropdown-label {
    font-size: small;
    font-weight: lighter;
}
    