.labeled-data-container {
    display: block;
    padding: 0px 4px;
}

.labeled-data-label{
    font-size: x-small;
    font-weight: lighter;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.labeled-data-data{
    margin-top: 0px;
    padding-top: 0px;
    white-space: nowrap;
}