.toggle-switch-container
{
    position: absolute;

    .button-cover {
        height: 50px;
        margin: 20px;
        background-color: #fff;
        box-shadow: 0 10px 20px -8px #c5d6d6;
        border-radius: 4px;
    }


    .button-cover, .knobs, .layer
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button
    {
        position: relative;
        top: 50%;
        width: 55px;
        height: 36px;
        margin: -20px auto 0 auto;
        overflow: hidden;
    }

    .button.r, .button.r .layer
    {
        border-radius: 100px;
    }

    .button.b2
    {
        border-radius: 2px;
    }

    .checkbox
    {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs
    {
        z-index: 2;
    }

    .layer
    {
        width: 100%;
        background-color: #ebf7fc;
        transition: 0.3s ease all;
        z-index: 1;
    }



    /* Button 2 */
    .toggle-switch .knobs:before, .toggle-switch .knobs:after
    {
        content: 'F°';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 20px;
        height: 10px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        padding: 9px 4px;
        background-color: #03A9F4;
        border-radius: 50%;
        transition: 0.3s ease all;
    }

    .toggle-switch .knobs:before
    {
        content: 'F°';
    }

    .toggle-switch .knobs:after
    {
        content: 'C°';
    }

    .toggle-switch .knobs:after
    {
        right: -28px;
        left: auto;
        background-color: #F44336;
    }

    .toggle-switch .checkbox:checked + .knobs:before
    {
        left: -28px;
    }

    .toggle-switch .checkbox:checked + .knobs:after
    {
        right: 4px;
    }

    .toggle-switch .checkbox:checked ~ .layer
    {
        background-color: #fcebeb;
    }
}

